@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap'); 

 
.fon-div{
    background-image: url(/img/porsche_911_gt2_rs_porsche_avtomobil_211863_1920x1080.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
    margin: 0;
}

.fa-user{ 

    font-size: 25px; 
    position: absolute; 
    top: 50px;  
    left: 1450px;  
} 


.fa-bars{ 
    font-size: 25px; 
    position: absolute; 
    top: 50px;  
    left: 50px;  
} 


.main-text{  
    text-align: center; 
    position: relative;
    top: 5px;
    font-size: 16px; 
    word-spacing: 70%;
    font-weight: normal;
    font-style: normal;
    font-weight: normal; 
    font-family: "Michroma", sans-serif; 
} 

.main-text-p2{
    font-size: 40px; 
    position: relative;
    left: 150px;  
    top: 70px;   
    font-weight: bold;
    word-spacing: 70%;
    font-family: "Michroma", sans-serif; 
}




